WHATSAPP_TOKEN=YOUR_META_ACCESS_TOKEN
WHATSAPP_PHONE_ID=YOUR_PHONE_ID
ENABLE_CRON="true"
CRON_SCHEDULE="0 * * * *"
NODE_ENV="development"
AIRPLANE_PURCHASE_DATE=2025-05-05T00:00:00Z
AIRBNB_RESERVATION_DATE=2025-05-15T00:00:00Z
TRIP_START_DATE=2025-06-27T00:00:00Z

